@font-face {
    font-family: 'Roboto';
    src: url(../../../public/fonts/Roboto/Roboto-Light.ttf);
}
.export {
    padding-left:3em;
    padding-right: 3em;
    color:#EF6E47;
}
.export:hover{
    color:rgba(13,15,74,.89)
}
.exportContainer{
    display: flex;
    font-size: 1.3em;
    font-weight: bold;
    justify-content: center;
    
}

.close{
    background-color:#ffd8a7;
    border:none;
    transition: all .2s;
}
.close:hover {
background-color: rgba(13,15,74,.89);
color:white;
transform: scale(1.2);
}
