  .form_inputs {
    display: flex;
    flex-direction: column;
    padding: 10px;
    
  }
  .form_inputs input {
    width: 300px;
    border-radius: 5px;
    
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .form_inputs label {
    padding: 5px;
  }

  .content_container {
    width: 450px;
  }
