.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  padding-left: 100px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.referenceGrid {
  display: grid;
  grid-template-columns: 260px 260px;
  grid-template-rows: 50px 50px 50px;
  grid-gap: 2px;
  width: 506px;
  gap: 2px;
  /* background-color: #000000; */
  padding: 2px;
}

.referenceGrid > div {
  background-color: "#DCDCDC;";
  display: flex;
  padding: 20px;
  font-size: 18px;
  justify-content: flex-start;
  align-items: center;
}
