@font-face {
    font-family: "League Spartan";
    src: url(../public/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../public/fonts/Roboto/Roboto-Black.ttf);
}