.interviewPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  min-width: 840px;
  min-height: 980px;
  background-color: #0d0f4ae3;

  color: #4e4e4e;
}


.interviewContent {
  background-image: linear-gradient(rgba(13, 15, 74, .75), rgba(239, 110, 71, .50));
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.adminColumn {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: white;
  height: 90%;
  width: 400px;
  border-radius: 10px;
  gap: 8px;
  padding: 8px;
}

/* // entire software dev lifecycle, testing and artifacts */

.roomInfo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 1.5rem;
  width: 100%;
}

.copyRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  gap: 4px;
  background-color: #f0f0f0;
  border-radius: 4px;
  border: 2px solid #f0f0f0;
  width: 90%;
  cursor: pointer;
  transition: all 0.07s ease-in-out;
}

.copyRow:hover {
  border: 2px solid #0d0f4ae3;
  transform: scale(1.05);
}

.editorCardBorder {
  /* my purpose is to suffer... */
  padding: 8px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;

  width: calc(90% - 360px);
  height: 90%;

  background-color: #f0f0f0;
  /* just kidding, I just add a nice looking border to the code editor, since it can't do it itself very well */
}

.editorCard {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 2px;
}

.topEditorWrapper {
  min-height: 360px;
  height: 100%;
}

.consoleGrid {
  height: 250px;
  display: grid;
  grid-template-columns: [start] 1fr [split] 82px [end];
  grid-template-rows: [top] 1fr [mid] 48px [bottom];
}

.console {
  background-color: #1e1e1e;
  height: 100%;

  padding: 8px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  word-wrap: break-word;

  grid-column: start / end;
  grid-row: top / bottom;
}

.runButton {
  border: 2px solid #ef6e47;
  color: #ef6e47;
  height: 40px;
  width: 76px;
  padding-inline: 4px;
  text-align: center;
  line-height: 40px;
  background-color: #1e1e1e;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.05s ease-in-out;

  grid-column: split / end;
  grid-row: mid / bottom;
}

.runButton:hover {
  color: white;
  background-color: #ef6e47;
  transform: scale(1.03);
  border: 2px solid white;
}

.notepadButton {
  border: none;
  color: #0d0f4ae3;
  height: 40px;
  width: 100px;
  padding-inline: 4px;
  text-align: center;
  line-height: 40px;
  background-color: #ffd8a7;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
  text-transform:uppercase;
  box-shadow:2px 2px 2px 2px grey;
  letter-spacing:1px;
  cursor:pointer;
}

.notepadButton:hover {
  color: white;
  background-color: #ef6e47;
  transform: scale(1.03);
}

.optionsRow {
  display: flex;
  justify-content: space-evenly;
}

.problemTabsRow {
  display: flex;
}

.problemTab {
  width: 50%;
  background-color: #ffe8d3;
  border: 1px solid #ef6e47;
  border-bottom: 1px solid #ffe8d3;
  border-radius: 10px 10px 0px 0px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;

  height: 2rem;
  font-size: 1.25rem;
  line-height: 2rem;

  text-align: center;
}

.problemCard {
  background-color: #ffe8d3;
  border: 1px solid #ef6e47;
  border-top: 1px solid #ffe8d3;

  border-radius: 0px 0px 10px 10px;
}

.questionNum {
  color: #0d0f4ae3;
  font-weight: bold;
}

.problemText {
  margin-top: 4px;
  padding: 4px;
  line-height: 1rem;
}

.codeExample {
  background-color: #fffaf5;
  line-height: 1rem;
  padding: 4px;
  color: #ef6e47;
  margin: 0px;
  height: 175px;
}

.notesArea {
  padding: 4px;
  line-height: 1rem;
  width: 100%;
  background-color: #ffe8d3;
  outline: none;
  border: none;
  height: 175px;
  resize: none;
  scrollbar-color: #ffe8d3 #ef6e47;
}

.statusToggle {
  border: 2px solid #ef6e47;
  color: #ef6e47;
  height: 40px;
  width: 100px;
  padding-inline: 4px;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
}

.statusToggle:hover {
  transform: scale(1.03);

  border: 2px solid #0d0f4ae3;
  color: #0d0f4ae3;
}

.statusStatic {
  border: 2px solid #ef6e47;
  color: #ef6e47;
  height: 40px;
  width: 100px;
  padding-inline: 4px;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
}

.ratingsTitle {
  color: #0d0f4ae3;
  font-weight: bold;
}

.ratingsContent {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  height: 100px;
  justify-content: space-evenly;
  width:auto;
}

.ratingsLeft {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  justify-content: center;
}

.ratings {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
}

.ratingsRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.notesShadow {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.noteBorder {
  width: 400px;
  background-color: white;
  padding: 8px;
  border-radius: 10px;
}
