.profilePage {
  background-image: linear-gradient(rgba(13, 15, 74, .75), rgba(239, 110, 71, .50));
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  min-width: 840px;
  min-height: 700px;

  color: #100101;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.form_inputs {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.form_inputs input {
  width: 300px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.form_inputs label {
  align-self: flex-start;
}

.edit_account {
  background-color: #f0f0f0;
  height: 4rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  line-height: 4.5rem;
}

.edit_account h1 {
  font-weight: bold;
}

.password_card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin: 10px;
  border: 1px solid gray;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.password_input {
  width: 300px;
  margin: 10px;
  display: flex;
  flex-flow: column nowrap;
  height: 100px;
}

.password_input label {
  align-self: flex-start;
}
